
.lp-calculator .calculator {
    width: 617px;
    max-width: 100%;
    margin-left: auto;
    margin-top: -900px;
    z-index: 10;
    position:relative
}

.lp-calculator .calculator .outer-body {
    -webkit-box-shadow: 0 0 100px 0 rgba(50, 50, 50, .75);
    box-shadow:0 0 100px 0 rgba(50, 50, 50, .75)
}

.lp-calculator .calculator .body, .lp-calculator .calculator .outer-body {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px
}

.lp-calculator .calculator .body {
    font-size: 20px;
    line-heihgt: 1.5em;
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, .75);
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, .75);
    background-color: #fff;
    padding-left: 35px;
    padding-right:35px
}

.lp-calculator .calculator .header {
    background-color: #4b266c;
    position: relative;
    color: #fff;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    padding: 15px 145px 15px 15px;
    margin-bottom:35px
}

.lp-calculator .calculator .header .currencies {
    position: absolute;
    top: 0;
    right: 0;
    width: 145px;
    text-align: center;
    background-color: #7ac4af;
    height: 70px;
    line-height: 70px;
    font-size:20px
}

.lp-calculator .calculator .header .currencies .currency {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    padding-left: 10px;
    padding-right:10px
}

.lp-calculator .calculator .header .currencies .currency.active {
    text-decoration: underline;
    color:#4b266c
}

.lp-calculator .calculator .header .currencies .currency:hover {
    text-decoration:underline
}

.lp-calculator .noUi-horizontal .noUi-handle {
    width: 28px;
    height: 28px;
    background-color: #4b266c;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    top: -10px;
    right: -13px;
    border-radius: 15px;
    outline: 0;
}

.lp-calculator .noUi-handle:after, .lp-calculator .noUi-handle:before {
    display:none
}

.lp-calculator .calculator .title {
    font-size: 25px;
    color: #7ac4af;
    font-weight: 500;
    margin-bottom:5px
}

.lp-calculator .calculator .slider-value {
    text-align: right;
    color: #4b266c;
    font-weight: 700;
    margin-bottom:10px
}

.lp-calculator .noUi-horizontal {
    height: 7px;
    background-color: #f2f2f7;
    border:0
}

.lp-calculator .noUi-connect {
    background-color:#4b266c
}

.lp-calculator .slider {
    margin-bottom:80px
}

.lp-calculator .noUi-marker-horizontal.noUi-marker {
    display:none
}

.lp-calculator .noUi-value {
    font-size: 20px;
    color: #5d5d5d;
    -webkit-transform: translate(0);
    transform:translate(0);
}

.lp-calculator .noUi-value:last-child {
    text-align: right;
    left: auto !important;
    right:0
}

.lp-calculator table {
    width: 100%;
    margin-bottom:20px
}

.lp-calculator table td {
    padding-bottom:20px
}

.lp-calculator table .left {
    font-size: 25px;
    line-height: 1.2em;
    font-weight: 500;
    color:#7ac4af
}

.lp-calculator table .left .text span {
    color:#4b266c
}

.lp-calculator table .left .row-text {
    position:relative
}

.lp-calculator table .left .row-text .text {
    display: inline-block;
    background-color: #fff;
    padding-right: 5px;
    position: relative;
    z-index:5
}

.lp-calculator table .left .row-text .line {
    position: absolute;
    z-index: 1;
    border-bottom: 1px dashed #7ac4af;
    right: 0;
    bottom: 6px;
    width:100%
}

.lp-calculator table .right {
    padding-left: 10px;
    color: #4b266c;
    font-size: 25px;
    line-height: 1.2em;
    font-weight: 700;
    text-align:right
}

.language-de .lp-calculator table .left, .language-de .lp-calculator table .right {
    font-size:15px
}

.language-en .lp-calculator table .left, .language-en .lp-calculator table .right {
    font-size:20px
}

.lp-calculator .button {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    padding: 8px 60px;
    color: #4b266c;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #4b266c;
    border-radius:20px
}

.lp-calculator .button:hover {
    color: #fff;
    background-color:#4b266c
}



@media (max-width: 1540px) {

    .lp-calculator .calculator {
        margin-top: -600px;
        width:550px
    }

    .lp-calculator .calculator .header {
        font-size:25px
    }

    .lp-calculator table .left, .lp-calculator table .right {
        font-size:20px
    }
}

@media (max-width: 1240px) {


    .lp-calculator .calculator {
        width:470px
    }

    .lp-calculator .calculator .header {
        font-size: 20px;
        line-height: 30px;
        padding-top: 10px;
        padding-bottom:10px
    }

    .lp-calculator .calculator .header .currencies {
        width: 110px;
        height: 50px;
        line-height: 50px;
        font-size:15px
    }

    .lp-calculator .calculator .title {
        font-size:20px
    }

    .lp-calculator .noUi-value, .lp-calculator table .left, .lp-calculator table .right {
        font-size:15px
    }
}

@media (max-width: 768px) {
    .lp-calculator .calculator .header {
        padding-right: 15px;
        padding-bottom: 30px;
        padding-top: 0;
        line-height: 30px;
        text-align: center;
        font-size:18px
    }

    .lp-calculator .calculator .header .currencies {
        bottom: 0;
        width: 100%;
        top: auto;
        padding-top: 0;
        padding-bottom: 0;
        height: 30px;
        line-height:30px
    }

    .lp-calculator .calculator .body {
        padding-left: 15px;
        padding-right:15px
    }

    .lp-calculator .calculator .slider-value, .lp-calculator .calculator .title {
        font-size:17px
    }

    .lp-calculator table .left, .lp-calculator table .right {
        font-size:14px
    }
}
